<footer class="footer-font bg-footer">

    <div class="footer-font mt-2 container text-center footer-section">

            <br>
            <div class="mb-3">
                <a class="foot-l text-white mr-3" href="/">Home</a>
                <a class="foot-l text-white mr-3" href="/about">About</a>
                <a class="foot-l text-white mr-3" href="/contact">Contact</a>
            </div>
        <!-- <div class="col-md-6"> -->
            <div class="row">
                <div class="col-md-6 text-right">
                    <p class="mt-1 mr-3">Connect with us at:</p>
                </div>
                <div class="col-md-6 text-left">

                    <span class="footer-icon">
                    <i class="social-icon fab fa-facebook-f"></i>
                    </span>
                    <span class="footer-icon">
                    <i class="social-icon fab fa-twitter"></i>
                    </span>
                    <span class="footer-icon">
                    <i class="social-icon fab fa-instagram"></i>
                    </span>
                    <span class="footer-icon">
                    <i class="social-icon fas fa-envelope"></i>
                    </span>
                </div>


            </div>


    </div>
    <div style="background-color: #02203c;" class="text-center text-white">
        <hr style="background-color: #fff;" class="container">

        <span>
        <% var date = new Date(); %>
        <p class="text-white" style="margin: 0px;">© Copyright
            <%= date.getFullYear() %> AskME</p>
        </span>
        <!-- <hr> -->
        <br>
    </div>
</footer>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/scripts/main.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
