<%- include("partials/header") -%>

    <main role="main">

        <!-- question -->

        <div class="container col-md-8">
            <h4><%= question.question %></h4><hr>

            <form>

                <div class="form-group">
                    <label for="postBody">Answer</label>
                    <textarea class="form-control" name="postBody" id="myTextarea"></textarea>
                </div>

                <button class="btn btn-primary" type="submit" name="button">Publish</button>
            </form>
        </div>

    </main>

<%- include("partials/footer") -%>
