<%- include("partials/header") %>

    <main role="main">
        <div class="container col-md-9">
            <h1 class="article-title">Contact</h1>
            <hr>
            <p>
                Email: askme@email.com
            </p>
            <p>
              Phone: +91-98987-65412
            </p>
        </div>
    </main>

<%- include("partials/footer") %>
