<%- include("partials/header") %>

    <main role="main">
        <div class="container col-md-9">
            <h1 class="article-title">Contact</h1>
            <hr>
            <p>
                Email us at: askme@email.com
            </p>
            <!-- <p>
              Phone: +91-12121-21212
            </p> -->
        </div>
    </main>

<%- include("partials/footer") %>
