<%- include("partials/header") -%>

  <main role="main">
    <div class="col-md-8 container">
      <h4>Post Question</h4>
      <hr>

      <form action="/privatespace/privatequestion" method="POST">

        <div class="form-group">
          <label for="postBody">Answer</label>
          <textarea name="postBody" id="myTextarea"></textarea>
        </div>

        <button class="btn text-white mr-2 mybtn bg-blue" type="submit" name="publish">Publish</button>
        <a href="/privatespace" class="text-white btn bg-red mybtn">Cancel</a>
      </form>
    </div>
  </main>

  <%- include("partials/footer") -%>
