<%- include("partials/header") -%>

    <main role="main">

        <!-- question -->

        <div class="container col-md-6">
            <h4>
                Reason page
            </h4>
            <hr>

            <form>

                <div class="form-group">
                    <label for="postBody">Your Reason</label>
                    <textarea class="form-control"></textarea>
                </div>

                <button class="btn btn-danger" type="submit" name="button">Report</button>
            </form>
        </div>

    </main>

    <%- include("partials/footer") -%>